body {
  background-color: rgb(235, 235, 235);
}

#chat-container {
  height: 68vh;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  overflow-y: auto;
  scrollbar-width: thin;

}

#chat-form {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 1px;
}

#message-input {
  width: 89%;
  padding: 10px;
  border-radius: 10px;

}

.roomcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.sendbtn {
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.mitem {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 5px;
  max-width: 80%;
  word-break: break-all;
}

.left {
  float: left;
  clear: both;
  background-color: rgba(49, 177, 49, 0.496);
}

.right {
  float: right;
  clear: both;
  background-color: rgba(94, 148, 224, 0.66);
}

#room-input {
  width: 85%;
  margin-bottom: 2px;
  padding: 10px;
  border-radius: 10px;
}